:root {
    --primary: #648474;
    --secondary: #547478;
    --tertiary: #292c32;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--tertiary);
    margin: 0;
    padding: 0;
}

body h1,
h2,
p {
    margin: 0;
    padding: 0;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    height: 100px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    transition: all 0.3s;
    color: #fff;
}

header.fixed {
    position: fixed;
    z-index: 1000;
    background-color: var(--secondary);
}

.header-title {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header-title img {
    width: 50px;
    height: 50px;
}

.header-title h1 {
    margin: 0;
    font-size: 20px;
}

.header-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 100px;
}

.header-nav ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    margin-top: 15px;
}

.header-nav li {
    margin-right: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-nav li a {
    font-size: 20px;
    text-decoration: none;
    color: #fff;
    font-weight: 800;
}

nav li a:hover {
    color: #f67300;
}

main {
    margin: 0;
    padding: 0;
}

.about-us-simple,
.our-products-simple,
.our-services-simple,
.contact-us-simple {
    height: 70vh;
    margin: 0;
    padding: 0;
}

.carousel-home {
    height: 80vh;
    margin-top: -30px;
}

.carousel-item {
    height: 80vh;
}

.carousel-item::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.carousel-item img {
    z-index: 0;
}

.carousel-indicators button {
    background-color: rgba(255, 255, 255, 0.5);
    border: none;
    width: 400px !important;
    height: 10px !important;
    margin: 0 5px;
    opacity: 0.5;
    transition: opacity 0.3s;
}

.carousel-indicators button.active {
    background-color: #f67300;
    opacity: 1;
}

.about-us-simple {
    background-color: #f8f8f8;
    height: 60vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.about-us-simple img {
    width: auto;
    height: 80%;
}

.about-us-content {
    padding: 30px;
    width: 30%;
}

.about-us-content h2 {
    font-size: 60px;
    font-weight: 800;
    color: var(--primary);
    margin-bottom: 20px;
}

.about-us-content p {
    font-size: 25px;
    font-weight: 400;
    color: var(--secondary);
    text-align: justify;
}

.our-products-simple {
    z-index: -1000;
}

.our-services-simple {
    background-color: green;
}

.contact-us-simple {
    background-color: yellow;
}

footer {
    text-align: center;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
    background-color: var(--secondary);
    color: white;
}

.carousel-item img {
    width: 100%;
    /* Make images responsive */
    height: 100%;
    /* Ensure images cover the div */
    object-fit: cover;
    /* Cover the area without distortion */
}