:root {
    --primary: #065f33;
    --secondary: #065f58;
    --tertiary: #293229;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--tertiary);
    margin: 0;
    padding: 0;
}

body h1,
h2,
p {
    margin: 0;
    padding: 0;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    height: 100px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    transition: all 0.3s;
    color: #fff;
}

header.fixed {
    position: fixed;
    z-index: 1000;
    background-color: var(--secondary);
}

.header-title {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header-title img {
    width: 50px;
    height: 50px;
}

.header-title h1 {
    margin: 0;
    font-size: 20px;
}

.header-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 100px;
}

.header-nav ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    margin-top: 15px;
}

.header-nav li {
    margin-right: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-nav li a {
    font-size: 20px;
    text-decoration: none;
    color: #fff;
    font-weight: 800;
}

nav li a:hover {
    color: #f67300;
}

#country-toggle {
    position: relative;
    display: inline-block;
}

#country-toggle img {
    transition: opacity 0.3s ease;
    /* Smooth transition for hover effect */
}

#country-toggle:hover img {
    opacity: 0;
    /* Hide the American flag on hover */
}

#country-toggle:hover::after {
    content: '';
    background-image: url('https://img.icons8.com/color/48/indonesia.png');
    background-size: cover;
    width: 48px;
    height: 48px;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 50%;
    /* Optional: to make it circular */
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    z-index: 1;
    margin-top: 5px;
}

#country-toggle:hover .dropdown-content {
    display: block;
}

.dropdown-content img {
    cursor: pointer;
    padding: 5px;
}

main {
    margin: 0;
    padding: 0;
}

.about-us-simple,
.our-products-simple,
.our-services-simple,
.contact-us-simple {
    height: 70vh;
    margin: 0;
    padding: 0;
}

.carousel-home {
    height: 80vh;
    margin-top: -30px;
}

.carousel-item {
    height: 80vh;
}

.carousel-item::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.carousel-item img {
    z-index: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.carousel-indicators button {
    background-color: rgba(255, 255, 255, 0.5);
    border: none;
    width: 200px !important;
    height: 10px !important;
    margin: 0 5px;
    opacity: 0.5;
    transition: opacity 0.3s;
}

.carousel-indicators button.active {
    background-color: #f67300;
    opacity: 1;
}

/* About Us */
.about-us-simple {
    background-color: #f8f8f8;
    height: 60vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.about-us-simple img {
    width: auto;
    height: 80%;
    margin-right: 20px;
    /* Add space between image and content */
}

.about-us-content {
    padding: 30px;
    width: 30%;
}

.about-us-content h2 {
    font-size: 60px;
    font-weight: 800;
    color: var(--primary);
    margin-bottom: 20px;
}

.about-us-content p {
    font-size: 25px;
    font-weight: 400;
    color: var(--secondary);
    text-align: justify;
}


/* Our Products */
.our-products-simple {
    background-color: var(--secondary);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.our-products-content {
    width: 30%;
    padding: 30px;
}

.our-products-content h2 {
    font-size: 40px;
    font-weight: 800;
    padding-bottom: 10px;
    color: #f8f8f8;
}

.our-products-content p {
    font-size: 20px;
    font-weight: 400;
    max-width: 400px;
    padding-bottom: 20px;
    color: #f8f8f8;
    text-align: justify;
}

.our-products-content button {
    color: #f8f8f8;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 600;
    border: 1px solid #f8f8f8;
    border-radius: 5px;
    background-color: var(--secondary);
}

.our-products-content button:hover {
    background-color: #f8f8f8;
    color: var(--secondary);
}

.our-products-image {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 50%;
}

.product-image {
    background-color: #f8f8f8;
    margin: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    width: 100%;
    max-width: 300px;
    height: auto;
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.product-image:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
}

.product-image h5 {
    font-size: 20px;
    font-weight: 800;
    color: var(--primary);
    margin-bottom: 10px;
}

.product-image img {
    object-fit: cover;
    width: 100%;
    height: auto;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.product-image-content {
    padding: 10px;
}

.product-image-content p {
    font-size: 16px;
    font-weight: 400;
    color: var(--primary);
    margin-bottom: 10px;
}

.product-image-content button {
    color: var(--secondary);
    background-color: #f8f8f8;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 600;
    border: 2px solid var(--secondary);
    border-radius: 5px;
}

.product-image-content button:hover {
    background-color: var(--secondary);
    color: #fff;
}

/* Our Projects */
.our-projects-simple {
    background-color: #f8f8f8;
    padding: 20px;
    height: auto;
    padding-top: 100px;
    padding-bottom: 100px;
}

.our-projects-simple h2 {
    font-size: 40px;
    font-weight: 800;
    padding-bottom: 10px;
    color: var(--primary);
    text-align: center;
}

.projects-image-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.projects-image-container img {
    width: 100%;
    height: auto;
    object-fit: cover;
    margin: 10px;
}

.contact-us-simple {
    background-color: var(--secondary);
    padding: 20px;
}

footer {
    text-align: center;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
    background-color: var(--secondary);
    color: white;
}